* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #0090fe;
  height: 100%;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;
}
.title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.title h1 {
  display: inline;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 400;
  border-bottom: 2px solid #fff;
  padding-bottom: 4px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  background-color: #fff;
  border-radius: 10px;
}
.card p,
.card i {
  font-size: 14px;
}
.card button {
  text-decoration: none;
  background-color: transparent;
  border: none;
}
.top-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}
.top-card .top-left a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
}
.top-card .top-left img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.top-card .top-right button i {
  color: #7f7e7e;
  font-size: 16px;
  cursor: pointer;
}
.middle-card .post-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  height: 100%;
  object-fit: cover;
}
.bottom-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.bottom-card .bottom-left {
  width: 100px;
  height: 20px;
  background-color: #bdbdbd;
  border-radius: 12px;
}
.bottom-card .bottom-right {
  display: flex;
  gap: 15px;
}
.bottom-card .bottom-right button i {
  font-size: 20px;
  color: #7f7e7e;
  cursor: pointer;
}
